on late-fs-charger
    class_start early_hal
    mount_all --late
    # Boot time fs tune
    write /sys/block/dm-9/queue/read_ahead_kb 2048

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger late-fs-charger
    trigger post-fs-data
    trigger moto-charger
    class_stop main
    class_stop late_start

on moto-charger
    stop vendor.sensors
    start vendor.thermal-com
    start system_suspend

    # Enable only CPU core 3 to keep current drain to a minimum
    write /sys/devices/system/cpu/cpufreq/policy3/scaling_governor "walt"
    write /sys/devices/system/cpu/cpufreq/policy3/walt/down_rate_limit_us 0
    write /sys/devices/system/cpu/cpufreq/policy3/walt/up_rate_limit_us 0
    write /sys/devices/system/cpu/cpufreq/policy3/walt/hispeed_freq 1555200
    write /sys/devices/system/cpu/cpufreq/policy3/scaling_min_freq 537600
    write /sys/devices/system/cpu/cpufreq/policy3/walt/pl 1
    write /proc/sys/walt/input_boost/input_boost_freq "1382800 0 0 0 0 0 0 0"
    write /proc/sys/walt/input_boost/input_boost_ms 100
    write /sys/devices/system/cpu/cpu0/online 0
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    #Enable UFS clock scaling back
    write /sys/bus/platform/devices/1d84000.ufshc/clkscale_enable 1
    #Enable UFS auto_hibern8 back
    write /sys/bus/platform/devices/1d84000.ufshc/auto_hibern8 5000
    #Enable UFS clock gating back
    write /sys/bus/platform/devices/1d84000.ufshc/clkgate_enable 1

service vendor.thermal-com /vendor/bin/thermal-engine-v2 --minimode
    class main
    user root
    group root system oem_2907
    socket thermal-send-client stream 0666 system oem_2907
    socket thermal-recv-client stream 0660 system oem_2907
    socket thermal-recv-passive-client stream 0666 system oem_2907
    socket thermal-send-rule stream 0660 system oem_2907
    disabled

# support clear batt_firstusagedate flag
on property:sys.clear_batt_first_usage_date=true
    write /proc/config/all/new batt_firstusagedateX
    wait  /proc/config/batt_firstusagedate/ascii
    write /proc/config/batt_firstusagedate/ascii 1
    write /mnt/vendor/persist/batt_health/first_usage_date 0
    setprop sys.clear_batt_first_usage_date done
