# Charge only mode configuration
import /vendor/etc/init/hw/init.mmi.charge_only.rc

on init
    wait_for_prop vendor.all.modules.ready 1

on init && property:ro.boot.default_usb_mode=device
    setprop vendor.usb.controller ${ro.boot.usbcontroller}
    setprop sys.usb.controller ${vendor.usb.controller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral

on early-boot
    start vendor.mmi-usb-sh

on early-boot && property:ro.bootmode=mot-factory
    chown system system /sys/private/tlmm_count
    chown system system /sys/private/tlmm_num
    chmod 0660 /sys/private/tlmm_count
    chmod 0660 /sys/private/tlmm_num

on early-boot && property:ro.boot.bm_ulog_enabled=1
    write /sys/module/bm_adsp_ulog/parameters/debug_enabled 1

on moto-charger && property:ro.boot.bm_ulog_enabled=1
    write /sys/module/bm_adsp_ulog/parameters/debug_enabled 1

on property:sys.boot_completed=1
    write /sys/devices/platform/soc/soc:mmi,charger/state_sync 1

on property:sys.boot_completed=1 && property:ro.vendor.build.motfactory=1
    write /sys/class/power_supply/battery/device/factory_image_mode 1
    chown system system /sys/class/power_supply/battery/device/force_charger_suspend

on property:ro.build.type=userdebug
    insmod /vendor/lib/modules/watchdogtest.ko

service vendor.qrtr-lookup-sh /vendor/bin/init.mmi.qrtr-lookup.sh
    class late_start
    user root
    group log system
    oneshot
    disabled

on property:sys.boot_completed=1 && property:ro.product.is_production=false
    start vendor.qrtr-lookup-sh

on init && property:ro.product.is_production=true
    write /sys/kernel/cnss/recovery 1

on boot && property:ro.boot.product.vendor.sku=kalama
    start vendor.sputestclientv2

service vendor.sputestclientv2 /vendor/bin/sputestclientv2
    class main
    user system
    group root system
    oneshot
    disabled

